.inputGroupC {
    display: flex;
    width: 18rem;
    &__label {
        border-radius: 0.25rem 0 0 0.25rem;
    }
    &__input {
        width: 10rem;
    }
    margin-right: 0.5rem;
    &--limit {
        width: 10rem;
    }
}